In [1]:
from code.simulation import runSimulations, saveRaw, loadRaw, clean, saveCleaned, simulationsRun
import pandas as pd

In [2]:
sim = runSimulations(8, 20000000)

Running 20000000 simulations for a game of 8 players

  0%|          | 0/20000000 [00:00<?, ?it/s]

In [3]:
saveRaw(sim, 8)
sim_cleaned = clean(sim, 8)
saveCleaned(sim_cleaned, 8)
simulationsRun(8)

Raw data file saved at results/winrate_8_raw.pickle!
Converted dictionary to DataFrame and cleaned it!
Cleaned data file saved at results/winrate_8_cleaned.csv!
20000000 simulations have been run for 8 players

In [5]:
sim_cleaned

               name  wins  ties  total_games  winrate
AD, AH, AS  A trail  7231     0         7231   1.0000
AC, AH, AS  A trail  7124     0         7124   1.0000
AD, AC, AS  A trail  7392     0         7392   1.0000
AD, AC, AH  A trail  7121     0         7121   1.0000
KD, KS, KH  K trail  7130     0         7139   0.9987
...             ...   ...   ...          ...      ...
2S, 5D, 3C    5-top     0     0         7211   0.0000
5H, 2C, 3S    5-top     0     0         7187   0.0000
5C, 2D, 3C    5-top     0     0         7152   0.0000
2S, 5C, 3C    5-top     0     0         7234   0.0000
5D, 2C, 3H    5-top     0     0         7208   0.0000

[22100 rows x 5 columns]

In [6]:
sim_cleaned[sim_cleaned['winrate']>=0.5]['name'].unique().tolist()

['A trail',
 'K trail',
 'Q trail',
 'J trail',
 '10 trail',
 '9 trail',
 '8 trail',
 '7 trail',
 '6 trail',
 '5 trail',
 '4 trail',
 '3 trail',
 '2 trail',
 'A-K-Q straight flush',
 'A-2-3 straight flush',
 'K-Q-J straight flush',
 'Q-J-10 straight flush',
 'J-10-9 straight flush',
 '10-9-8 straight flush',
 '9-8-7 straight flush',
 '8-7-6 straight flush',
 '7-6-5 straight flush',
 '6-5-4 straight flush',
 '5-4-3 straight flush',
 '4-3-2 straight flush',
 'A-K-Q straight',
 'A-2-3 straight',
 'K-Q-J straight',
 'Q-J-10 straight',
 'J-10-9 straight',
 '10-9-8 straight',
 '9-8-7 straight',
 '8-7-6 straight',
 '7-6-5 straight',
 '6-5-4 straight',
 '5-4-3 straight',
 '4-3-2 straight',
 'A-top flush',
 'K-top flush',
 'Q-top flush',
 'J-top flush',
 '10-top flush',
 '9-top flush',
 '8-top flush',
 '7-top flush',
 '6-top flush',
 '5-top flush',
 'A pair',
 'K pair']